@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
}
:root {
--color-primary:hwb(14 4% 29%);
 --color-black: #111;
 --color-white:#fff; 

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 2rem;
}
@media screen and (max-width: 43.75em){
    flex-direction: colum;
    gap: 2rem;
}
.logo-text {
    font-size:2.6rem;
    letter-spacing: 5px;
}
.header-nav-list{
    list-style: none;  
    display: flex;
    gap: 6rem;
}
 
@media screen and (max-width: 37.5em){
    .header-nav-list {
        flex-wrap: wrap;
        gap: 2rem;
    }
    
}
.header-nav-link {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--color-black);
    font-weight: 600;
    transition: color .3s;
} 
.header-nav-link:hover {
color: var(--color-primary);
}
/* Hero section */
.hero-section{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0, .6)), url(./images/Apartments-Modern-Designcc3bcb9a-c576-48e4-8a7e-85919093ce36.jpg);
  background-size: cover;
  background-position: center;
}
.textbox{
    text-align: center;
   
}
.hero-title{
    color: var(--color-white);
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.5;
}
.hero-link{
    color: var(--color-white);
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: var(--color-primary);
    padding: 2rem 2.5rem;
    border-radius: 50%;
}
/* end of Hero section */
/* Essential info section */
.essential-section{
    display: flex;
    padding: 8rem 2rem;
    border-color: blue;
}
.essential-textbox{
    width: 50%;
    background-color: #ff5100;
}
.space-list{
    
    gap: 6rem;
}
.list-text{
  font-size: medium; 
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-black);
  font-weight: 600;
  padding: 2rem;
  text-align: justify;
}
.Image-one{
    width:50%;
    padding: 0.5rem;
}
/*End of Essential info section */